.fotter{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.fotter-content{
    display: flex;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.fotter-content-left , .fotter-content-right, .fotter-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.fotter-content-left li, .fotter-content-right li, .fotter-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.fotter-content-right h2, .fotter-content-center h2 {
    color: white;
}
.fotter-social-icons img{
    width: 40px;
    margin-right: 15px;
}
.fotter hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: gray;
    border: none;
}
@media(max-width:750px){
    .fotter-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
        }
        .fotter-copyright{
            text-align: center;
        }
}